[Unit]
Description=Monitra: monthly report, 1st 09:00 IST

[Timer]
OnCalendar=*-*-01 03:30:00 UTC
Persistent=true
AccuracySec=1s
Unit=monitra-job@monthly-report.service

[Install]
WantedBy=timers.target
